*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vis{
  border: 5px solid red;
  height: 200px;
  width: 300px;
  margin-top: 220px;
  margin-left: 560px;
  justify-content: center;
  padding: 10px 20px;
}