.bag_button{
  background-color: lightgreen;
  border: none;
 padding: 4px 15px;
 border-radius: 10px;
} 
.wish_button{
  padding: 5px 25px;
  color:black;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid black;
}
.sale_button{
  color: black;
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}